<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autókereskedés</title>
    <link rel="stylesheet" href="/res/style.css">
</head>
<body> 
    <header>  
        <nav>
             <ul>
                <li><a href="/">Bemutatkozás</a></li>
                <li><a href="/cars">Autóink</a></li>
                <li><a href="/contact">Kapcsolat</a></li>
             </ul>
        </nav>
         <h1>Négy kerék - autókereskedés</h1>
         <img src="/media/r.jpg" alt="Felni">
    </header>
    <hr>
    <div class="container">
    <main>