<%- include('begin.ejs') %>
<section id="contact"><h2>Elérhetőségeink</h2>
<h3>06-30/992-7155<br>
    06-30/329-2520</h3>
    
<h3>info@negykerek.hu</h3>
    
<h4>1161 Budapest, György utca 29-31.</h4>
    
<h4>Nyitva tartás:</h4>
    
    <p>H-P: 09:00-18:00<br>
        SZ: 09:00-13:00<br>
        V: Zárva</p>
</section>
<%- include('end.ejs') %>